.about {
    color: $cool-grey;
    background-color: $rusty-orange;
    main {
        width: 100%;
        margin: 0 auto;
        @media(min-width: 1200px) {
            columns: 2;
            padding-top: 2rem;
        }
    }
    header nav #hamburger div {
        background-color: $cool-grey;
    }
}