.contact {
    color: $cool-grey;
    background-color: $charcoal-blue;
    main {
        width: 90vw;
        margin: 0 auto;
    }
    header nav #hamburger div {
        background-color: $cool-grey;
    }
}