.contact {
    color: $cool-grey;
    background-color: $charcoal-blue;
    main {
        width: 100%;
        margin: 0 auto;
        padding-top: 1rem;
    }
    header nav #hamburger div {
        background-color: $cool-grey;
    }
}