.news {
    color: $rusty-orange;
    background-color: white;
}

header nav #hamburger div {
    background-color: $rusty-orange;
}

section {
    margin:50px 0 2rem;
    display: flex;
    flex-direction: column;
}

.newslist {
    justify-content: flex-start;
    flex-wrap: wrap;
    @media(min-width: 1100px) {
        flex-direction: row;
        align-items: start;
        // justify-content: center;
        h2 {width: 100%;}
        article {
            width: 45%;
            margin-right: 3rem;
        }
    }
}

.upcoming article {
    display: flex;
    flex-direction: column-reverse;
    @media(min-width: 860px) {
        width: 90vw;
        flex-direction: row;
        img {
            width: 40%;
        }
        p {
            width: 50%;
            margin-right: 3rem;
        }
    }
}