.project-page {
    --carousel-width: 90vw;
    --carousel-height: calc(0.7 * var(--carousel-width));
    --carousel-padding: 5px;
  }
  
  @media (min-width: 480px) {
    .project-page {
      --carousel-width: 420px;
    }
  }
  @media (min-width: 580px) {
    .project-page {
      --carousel-width: 520px;
    }
  }
  @media (min-width: 720px) {
    .project-page {
      --carousel-width: 670px;
    }
  }
  @media (min-width: 800px) {
    .project-page {
      --carousel-width: 750px;
    }
  }
  @media (min-width: 900px) {
    .project-page {
      --carousel-width: 850px;
    }
  }
  @media (min-width: 1000px) {
    .project-page {
      --carousel-width: 950px;
    }
  }
  @media (min-width: 1100px) {
    .project-page {
      --carousel-width: 1050px;
    }
  }
  @media (min-width: 1200px) {
    .project-page {
      --carousel-width: 1140px;
    }
  }
  @media (min-width: 1330px) {
    .project-page {
      --carousel-width: 1280px;
    }
  }
  
  .project-gallery {
    width: 100%;
    margin: 0 auto;
    display: flex;
    flex-direction: column;
    align-items: center;
  }
  
  // .carousel-frame {
  //   background: #fafafa;
  //   padding: 10px;
  //   border-radius: 3px;
  //   border: 1px solid #ddd;
  //   width: calc(var(--carousel-width) + (2 * var(--carousel-padding)));
  //   height: calc(var(--carousel-height) + (2 * var(--carousel-padding)));
  // }
  
  .carousel {
    width: var(--carousel-width);
    height: var(--carousel-height);
  }
  
  .scroll {
    display: flex;
    align-items: center;
    overflow-x: auto;
    overflow-y: hidden;
    width: 100%;
    height: 100%;
    -webkit-overflow-scrolling: touch;
    scrollbar-width: none;
    -ms-overflow-style: none;
  }
  
  ul.scroll {
    margin: 0;
    padding: 0;
    list-style: none;
  }
  
  .scroll-item-outer {
    width: 100%;
    height: 100%
  }
  
  .scroll-item {
    width: var(--carousel-width);
    height: 100%;
  }
  
  img {
    object-fit: contain;
    width: 100%;
    height: 100%;
  }
  
  @supports (scroll-snap-align: start) {
    /* modern scroll snap points */
    .scroll {
      scroll-snap-type: x mandatory;
    }
    .scroll-item-outer {
      scroll-snap-align: center;
    }
  }
  
  @supports not (scroll-snap-align: start) {
    /* old scroll snap points spec */
    .scroll {
      -webkit-scroll-snap-type: mandatory;
              scroll-snap-type: mandatory;
      -webkit-scroll-snap-destination: 0 50%;
              scroll-snap-destination: 0 50%;
      -webkit-scroll-snap-points-x: repeat(100%);
              scroll-snap-points-x: repeat(100%);
    }
    
    .scroll-item-outer {
      scroll-snap-coordinate: 0 0;
    }
  }

.project-page > .container > main {
    section {
        width: var(--carousel-width);
        max-width: 1280px;
        margin: 0 auto;
        display: block;
    }
    .project-content{
        width: var(--carousel-width);
        color: inherit;
    }
}

.controls {
  display: flex;
  width: 100%;
  justify-content: center;
}

.left, .right {
  height: 3rem;
}

.indicators {
  display: flex;
  width: 70%;
  justify-content: center;
}

ul.indicators {
  margin: 0;
  padding: 0;
  list-style: none;
}

.indicator {
  padding: 10px;
}

.indicator-button, .left, .right {
  cursor: pointer;
  background: none;
  border: none;
  color: $rusty-orange;
  overflow: hidden;
  display: flex;
  flex-direction: column;
  padding: 0;
}

.indicator-button:after {
  content: '○';
  font-size: 1.4em;
  padding: 12px 15px 17px;
}

.indicator-button:hover {
  color: $charcoal-blue;
}

.indicator-button:active {
  color: $charcoal-blue;
  padding: 0;
}

.indicator-button[aria-pressed="true"]:after {
  content: '●';
}