.welcome { 
    color: $cool-grey;
    background-color: $charcoal-blue;
    font-size: 18px;
    font-family: "History 02";
    font-weight: 600;
    .welcome-link {
        text-decoration: none;
    }
    .underline {
        text-decoration: underline;
    }
    svg.line {
        display: none;
    }
    .container {
        display: grid;
        align-items: center;
        justify-items: start;
    }
    main {
        section.content {
            max-width: 90vw;
            margin-bottom: 2em;
            p {
                font-size: 1.4rem;
                text-transform: uppercase;
                line-height: 1.2;
                margin: 2em 0;
                strong {
                    font-size: 2.3rem;
                    font-family: 'History 01';
                }
                a {
                    color: inherit;
                    text-decoration: underline;
                    text-decoration-thickness: 1px;
                }
            }
        }
    }
}

@media(min-width: 760px) {
    .welcome {
        .container {
            align-items: flex-end;
            svg.line {
                width: 100vw;
                position: absolute;
                top: 20px;
                left: 0;
                display: block;
            }
            main {
                padding-bottom: 0;
                margin-bottom: 0;
                section.content {
                    padding-bottom: 0;
                    margin-bottom: 0;
                    p {
                        padding-bottom: 0;
                        margin-bottom: 0;
                        font-size: 2.3rem;
                        strong {
                            font-size: 4rem;
                        }
                    }
                }
            }
        }
    }
}

@media(min-width: 1200px) {
    .welcome .container svg.line {
        top: 20px;
        left: -10px;
    }
}

@media(min-width: 1200px) {
    .welcome {
        svg.line {
            top: 20px;
        }
        main {
            section.content {
                p {
                    font-size: 2.3rem;
                    strong {
                        font-size: 4rem;
                    }
                }
            }
        }
    }
}

@media(min-width: 1439px) {
    .welcome {
        main {
            section.content {
                p {
                    font-size: 2.72rem;
                    line-height: 1.4;
                    strong {
                        font-size: 4rem;
                    }
                }
            }
        }
    }
}

@media(min-width: 1919px) {
    .welcome {
        main {
            section.content {
                p {
                    font-size: 3.22rem;
                    strong {
                        font-size: 6rem;
                    }
                }
            }
        }
    }
}

.enter {
    padding-left: 1rem;
}