{% if project.data.gallery.length %}
<section class="project-gallery" aria-label="Gallery">
    <div class="carousel-frame">
        <div class="carousel">
          <ul class="scroll">
              {% for image in project.data.gallery %}
              <li class="scroll-item-outer">
                  <div class="scroll-item">
                      <img src="{{ image.image.url }}" alt="{{ image.image.alt }}" />
              </div>
            </li>
            {% endfor %}
          </ul>
        </div>
    </div>
    <ul class="indicators">
        {% for image in project.data.gallery %}
        <li class="indicator">
          <button class="indicator-button" {% if loop.first %}aria-pressed="true"{% endif %}></button>
        </li>
        {% endfor %}
      </ul>
</section>
{% else %}
<section class="project-gallery" aria-label="Gallery">
    <p>No gallery</p>
</section>
{% endif %}