{% if reorderProjects|length %}
<nav>
    <ul class="projects" role="list">
    {% for project in reorderProjects %}
    <li>
        <a href="{{ project.primary.link.slug | slug }}" class="project" data-colour="rusty-orange" onmouseleave="changeColour(this)">
            <div class="heading-wrapper">
                <h2 class="project_name">{{ project.primary.heading[0].text }}</h2>
            </div>
            <img src="{{ project.primary.image.url }}" alt="">
        </a>
    </li>
    {% endfor %}
    </ul>
</nav>
{% else %}
<h2>no results</h2>
{% endif %}